.container {
  margin: 0 auto;
  max-width: $container;
  padding: 0 15px;
  width: 100%;
}

.container-md {
  margin: 0 auto;
  max-width: $container-md;
  padding: 0 15px;
  width: 100%;
}

.container-sm {
  margin: 0 auto;
  max-width: $container-sm;
  padding: 0 15px;
  width: 100%;
}

.container-xs {
  margin: 0 auto;
  max-width: $container-xs;
  padding: 0 15px;
  width: 100%;
}

.container-form {
  margin: 0 auto;
  max-width: 600px;
  padding: 0 15px;
  width: 100%;
}
