// Screens
// ---------------------------------------

$xs-min:		        320px !default;

// BreakPoints 
// ---------------------------------------

$xs:              359px !default;     //Extra small     
$sm:					    767px !default; 	// Small devices
$md:					    991px !default; 	// Medium devices 
$lg:					    1366px !default; 	// Large devices 
$xl:					    1700px !default; 	// Extra large devices 

$container-sm-max-width: 	400px !default;
$container-md-max-width: 	880px !default;

$container-xs: 	            780px !default; 
$container-sm: 	            920px !default; 
$container-md: 	            1030px !default;
$container:                 1240px !default; 