// BreakPoints
// ---------------------------------------

$sm: 767px !default; // Small devices
$md: 991px !default; // Medium devices

$container-xs: 780px !default;
$container-sm: 920px !default;
$container-md: 1030px !default;
$container: 1240px !default;
