@media screen and (max-width: 767px) {

    .register-login-container {
        flex-direction: column;
        width: 100%;
        height: unset;
    }

    .register-login-left {
        width: 100%;
    }

    .register-login-right {
        width: 100%;
    }
    
    /* FOOTER */
    .footer {
        position: unset;
        height: 124px;
    }
}