.btn {
  cursor: pointer;
  text-transform: uppercase;
  padding: 10px;
  background: #3e444c;
  border-radius: 4px;
  color: #fff;
  outline: none;
  a {
    text-transform: uppercase;
    margin-left: 0;
    display: table;
    color: #fff;
    font-weight: 500;
    text-decoration: none;
    display: flex;
    justify-content: center;
  }
  &__btn-default {
    width: 225px;
    height: 50px;
    font-size: 16px;
    margin-top: 20px;
    align-items: center;
    display: flex;
    justify-content: center;
  }
  &__btn-small {
    width: 90px;
    height: 32px;
    font-size: 11px;
  }
  &--green {
    background: #136e2e;
  }
  &--red {
    background: #a82027;
  }
}
