.contact-page {
  display: flex;

  &--left {
    width: 40%;
    img {
      height: calc(100vh - 250px);
      width: 100%;
    }
    @media screen and (max-width: $md) {
      display: none;
    }
  }
  &--right {
    width: 60%;
    @media screen and (max-width: $md) {
      width: 100%;
    }
    .wrapper {
      width: 100%;
      .contact-info {
        width: 100%;
        position: relative;
        @media screen and (max-width: $md) {
          position: unset;
        }
        h2 {
          margin: 5% auto;
          text-align: center;
        }
        iframe {
          width: 100%;
          height: 300px;
          position: absolute;
          bottom: 0px;
          @media screen and (max-width: $md) {
            position: unset;
            bottom: unset;
            height: 450px;
          }
        }
        .fb-info {
          display: flex;
          justify-content: center;
          @media screen and (max-width: $md) {
            margin-bottom: 30px;
          }
          .link-wrapper {
            width: 200px;
            padding: 20px;
            @media screen and (max-width: $md) {
              width: 89%;
            }
            a {
              color: unset;

              span {
                padding-left: 15px;
              }
            }
          }
        }
      }
      .contact-list-wrapper {
        display: flex;
        width: 100%;
        .contact-list {
          flex-wrap: wrap;
          display: flex;
          justify-content: space-evenly;
          width: 100%;
          @media screen and (max-width: $md) {
            flex-wrap: wrap;
            margin: 0;
          }
          .tag {
            display: flex;
            width: 200px;
            padding: 10px;
            margin-bottom: 20px;
            border: 1px solid rgba(0, 0, 0, 0.1);
            border-radius: 5px;
            background-color: #fdfdfd;
            -webkit-box-shadow: 2px 6px 5px 0px rgba(245, 245, 245, 1);
            -moz-box-shadow: 2px 6px 5px 0px rgba(245, 245, 245, 1);
            box-shadow: 2px 6px 5px 0px rgba(245, 245, 245, 1);
            @media screen and (max-width: $md) {
              margin-bottom: 20px;
              width: 89%;
            }
            .contact {
              padding-left: 15px;
              a {
                color: unset;
              }
              div {
                &:first-child {
                  padding-bottom: 5px;
                }
              }
            }
          }
          .break {
            display: none;
            @media screen and (max-width: $md) {
              display: block;
              flex-basis: 100%;
              height: 0;
            }
          }
        }
      }
    }
  }
}
