.product {
  width: 100%;

  &--list-block {
    display: flex;
    align-items: center;
    padding-bottom: 10px;
  }
  &--list {
    width: 80%;
    display: flex;
  }
  &--buttons {
    display: flex;
    justify-content: space-between;
    width: 25%;
  }
}
