.footer {
  color: #fff;
  background-color: #3e444c;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 150px; /* Height of the footer */

  .footer-container {
    display: flex;
    height: 150px;
    .footer-wrapper {
      width: 100%;
      display: flex;
      justify-content: center;
      .contact-info {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media screen and (max-width: $md) {
          flex-direction: column;
        }
        .tag {
          display: flex;
          .contact {
            padding-left: 15px;
          }
        }
      }
    }
  }
}
