.header {
  height: 100px;
  background-color: #3e444c;
  .header-container {
    display: flex;

    .header-left {
      &--logo {
        display: flex;
        align-items: center;
        font-size: 18px;
        .logo-img {
          width: 185px;
          @media screen and (max-width: $sm) {
            width: 115px;
          }
        }
      }
    }
    .header-links {
      display: flex;
      justify-content: space-between;
      width: 100%;
      align-items: center;
      font-size: 14px;
      font-weight: 500;
      @media screen and (max-width: $md) {
        flex-direction: column;
        width: 50%;
        z-index: 99;
      }
      .page-links-wrapper {
        width: 50%;
        display: flex;
        justify-content: space-evenly;
        text-transform: uppercase;

        @media screen and (max-width: $md) {
          flex-direction: column;
        }
      }

      .user-links {
        text-transform: uppercase;
        color: #fff;
        display: flex;
        justify-content: space-around;
        @media screen and (max-width: $md) {
          text-align: center;
          padding: 20px;
          flex-direction: column;
        }
        .page-links {
          padding-right: 50px;
          color: fff;
        }
        .log-out {
          cursor: pointer;
        }
      }
      .is-active {
        color: #eac4c6;
      }
    }

    @media screen and (max-width: $md) {
      .invisible {
        display: none;
        animation: fade-out 1s;
      }
      .accordion-close {
        right: 0;
        transition: all 0.2s ease-out;
      }
      .accordion-open {
        right: 0;
        animation: fade-in 1s;
        div {
          width: 100%;
          text-align: right;
          .close {
            top: 9px;
            width: 32px;
            height: 32px;
            opacity: 1;
            &::before,
            &::after {
              position: absolute;
              right: 30px;
              content: ' ';
              height: 27px;
              width: 2px;
              background-color: #fff;
            }
            &::before {
              transform: rotate(45deg);
            }
            &::after {
              transform: rotate(-45deg);
            }
          }
        }
        li {
          padding: 10px;
        }
      }
    }
  }

  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes fade-out {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }

  .hamburger-wrapper {
    display: none;
    @media screen and (max-width: $md) {
      display: block;
    }
    .hamburger {
      top: 30px;
      right: 20px;
      width: 30px;
      height: 3px;
      background: #fcfcfc;
      position: absolute;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
      transition: 0.5s;
      &::before {
        content: '';
        position: absolute;
        width: 30px;
        height: 3px;
        top: 20px;
        background: #fcfcfc;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
        transition: 0.5s;
      }
      &::after {
        content: '';
        position: absolute;
        width: 30px;
        height: 3px;
        top: 10px;
        background: #fcfcfc;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
        transition: 0.5s;
      }
    }
  }

  .wrapper {
    @media (max-width: $md) {
      flex-direction: column;
      top: 0;
      align-items: end;
      position: absolute;
      height: auto;
      background-color: #3a444c;
      padding: 20px;
      transition: all 0.2s ease-in-out;
      .page-links-wrapper {
        .page-links {
          padding: 20px;
          width: 100%;
          text-align: center;
          border-bottom: 1px solid rgba(255, 255, 255, 0.7);
        }
      }
    }
  }
}
