.title {
  text-align: center;
  margin-bottom: 50px;
  margin-top: 50px;
  @media screen and(max-width: $sm) {
    margin-bottom: 30px;
    margin-top: 20px;
  }
}
.priece-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  .category {
    display: flex;
    width: 43%;
    margin-bottom: 10px;
    align-items: center;
    @media screen and(max-width: $md) {
      width: 40%;
    }
    @media screen and(max-width: $sm) {
      width: 100%;
    }
    .item-category {
      margin-right: 50px;
      width: 600px;
      @media screen and(max-width: $md) {
        width: 300px;
      }
    }
    .item-price {
      width: 100px;
      @media screen and(max-width: $md) {
        width: 150px;
      }
    }
  }
}
