.register-login {
  display: flex;
  justify-content: space-between;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  background-color: #fdfdfd;
  -webkit-box-shadow: 2px 6px 5px 0px rgba(245, 245, 245, 1);
  -moz-box-shadow: 2px 6px 5px 0px rgba(245, 245, 245, 1);
  box-shadow: 2px 6px 5px 0px rgba(245, 245, 245, 1);
  margin: 3% auto;
  &__right {
    padding: 30px;
    width: 100%;
  }
}

.signin {
  display: flex;
  flex-direction: column;
  align-items: center;
  &__register-form {
    .form-template {
      margin-bottom: 20px;
      .input-field {
        .error-label {
          color: #a82027;
          margin-top: 7px;
        }
      }
    }
  }
  .checkbox {
    display: flex;
    .privacy-policy {
      margin-left: 15px;
    }
  }
}
