.slider-items-list {
  margin-bottom: 50px;
  .slider {
    &--list-block {
      display: flex;
      align-items: center;
      height: 50px;
      .slider-buttons {
        display: flex;
        width: 22%;
        justify-content: space-between;
      }
    }
    &--list {
      display: flex;
      width: 78%;
      align-items: center;
      .slider-item-title {
        width: 200px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
      .slider-item-description {
        width: 320px;
        padding-right: 20px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
      .slider-item-publish {
        width: 100px;
        text-align: right;
      }
    }
  }
}
