.slider-items-list {
  margin-bottom: 50px;
  .slider {
    &--list-block {
      display: flex;
      align-items: center;
      height: 50px;
      @media screen and (max-width: $md) {
        flex-direction: column;
        height: unset;
        margin-bottom: 15px;
      }
      .slider-buttons {
        display: flex;
        width: 22%;
        justify-content: space-between;
        @media screen and (max-width: $md) {
          width: 100%;
        }
      }
    }
    &--list {
      display: flex;
      width: 78%;
      align-items: center;
      @media screen and (max-width: $md) {
        display: flex;
        width: 100%;
        align-items: unset;
        flex-direction: column;
        padding-bottom: 15px;
      }
      .slider-item-title {
        width: 200px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
      .slider-item-description {
        width: 320px;
        padding-right: 20px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
      .slider-item-publish {
        width: 100px;
        text-align: right;
      }
    }
  }
}
